# PART1

## 1. ESTUDIO PREVIO DE LOS ARCHIVOS
En este apartado se realizarán comprobaciones para verificar que la información sobre los campos dada en los PDFs es correcta.
Por ejemplo, el archivo 'actividadeseconomicas' puede tener campos repetidos, es decir, que ya se encuentran en el archivo 'locales'. Por lo que sería bastante eficiente eliminar esos campos duplicados, los cuales pueden ser unidos por su clave foranea ID_LOCAL en el futuro.
Esto proporcionaría velocidad de consulta , ahorro de espacio y de computo a futuro.

In [51]:
#------------Dependencies-----------#
import pandas as pd
import numpy as np
import os

In [52]:
#Path to files
path_actividad = "data_files/actividadeconomica202312.csv"
path_licencias = "data_files/licencias202312.csv"
path_locales = "data_files/locales202312.csv"
path_terrazas = "data_files/terrazas202312.csv"

**Dataframe creation 'Actividad Economica'**

In [53]:
df_actividad = pd.read_csv(
    path_actividad,
    sep = ";",
    skip_blank_lines = True,
    on_bad_lines = 'skip',
    engine = 'python',
    encoding = 'utf-8'
)

**Dataframe creation 'Licencias'**

In [54]:
df_licencias = pd.read_csv(path_actividad,sep = ";",skip_blank_lines = True,on_bad_lines = 'skip',engine = 'python',  encoding = 'utf-8')

**Dataframe creation 'Locales'**

In [55]:
df_locales = pd.read_csv(path_locales,sep = ";",skip_blank_lines = True,on_bad_lines = 'skip',engine = 'python',  encoding = 'utf-8')

**Dataframe creation 'Terrazas'**

In [56]:
df_terrazas = pd.read_csv(path_terrazas,sep = ";",skip_blank_lines = True,on_bad_lines = 'skip',engine = 'python',  encoding = 'utf-8')

In [57]:
campos_licencias = [
    'id_local', 'id_distrito_local', 'desc_distrito_local', 'id_barrio_local', 'desc_barrio_local',
    'cod_barrio_local', 'id_seccion_censal_local', 'desc_seccion_censal_local', 'coordenada_x_local',
    'coordenada_y_local', 'id_tipo_acceso_local', 'desc_tipo_acceso_local', 'id_situacion_local',
    'desc_situacion_local', 'id_vial_edificio', 'clase_vial_edificio', 'desc_vial_edificio',
    'id_ndp_edificio', 'id_clase_ndp_edificio', 'nom_edificio', 'num_edificio', 'cal_edificio',
    'secuencial_local_PC', 'id_vial_acceso', 'clase_vial_acceso', 'desc_vial_acceso',
    'id_ndp_acceso', 'id_clase_ndp_acceso', 'nom_acceso', 'num_acceso', 'cal_acceso',
    'coordenada_x_agrupacion', 'coordenada_y_agrupacion', 'id_agrupacion', 'nombre_agrupacion',
    'id_tipo_agrup', 'desc_tipo_agrup', 'id_planta_agrupado', 'id_local_agrupado', 'rotulo',
    'id_seccion', 'desc_seccion', 'id_division', 'desc_division', 'id_epigrafe', 'desc_epigrafe',
    'fx_carga', 'fx_datos_ini', 'fx_datos_fin'
]

campos_locales = df_locales.columns.tolist()

campos_exclusivos_licencias = [col for col in campos_licencias if col not in campos_locales]
print(campos_exclusivos_licencias)

['id_seccion', 'desc_seccion', 'id_division', 'desc_division', 'id_epigrafe', 'desc_epigrafe']

In [58]:
campos_locales = df_locales.columns.tolist()
print(campos_locales)

['id_local', 'id_distrito_local', 'desc_distrito_local', 'id_barrio_local', 'desc_barrio_local', 'cod_barrio_local', 'id_seccion_censal_local', 'desc_seccion_censal_local', 'coordenada_x_local', 'coordenada_y_local', 'id_tipo_acceso_local', 'desc_tipo_acceso_local', 'id_situacion_local', 'desc_situacion_local', 'id_vial_edificio', 'clase_vial_edificio', 'desc_vial_edificio', 'id_ndp_edificio', 'id_clase_ndp_edificio', 'nom_edificio', 'num_edificio', 'cal_edificio', 'secuencial_local_PC', 'id_vial_acceso', 'clase_vial_acceso', 'desc_vial_acceso', 'id_ndp_acceso', 'id_clase_ndp_acceso', 'nom_acceso', 'num_acceso', 'cal_acceso', 'coordenada_x_agrupacion', 'coordenada_y_agrupacion', 'id_agrupacion', 'nombre_agrupacion', 'id_tipo_agrup', 'desc_tipo_agrup', 'id_planta_agrupado', 'id_local_agrupado', 'rotulo', 'cod_postal', 'hora_apertura1', 'hora_apertura2', 'hora_cierre1', 'hora_cierre2', 'fx_carga', 'fx_datos_ini', 'fx_datos_fin']

## 1.1 CAMPOS DUPLICADOS

**Locales vs Actividades**

In [59]:
#Query por 'id_local'
resultado = df_locales.query("id_local == 20000756")
resultado.id_local,resultado.coordenada_y_local,resultado.id_tipo_acceso_local,resultado.id_tipo_acceso_local

(6    20000756
 Name: id_local, dtype: int64,
 6    4472755.5
 Name: coordenada_y_local, dtype: float64,
 6    1
 Name: id_tipo_acceso_local, dtype: int64,
 6    1
 Name: id_tipo_acceso_local, dtype: int64)

In [60]:
#Query por 'id_local'
resultado = df_actividad.query("id_local == 20000756")
resultado.id_local,resultado.coordenada_y_local,resultado.id_tipo_acceso_local,resultado.id_tipo_acceso_local

(6515    20000756
 Name: id_local, dtype: int64,
 6515    4472755.5
 Name: coordenada_y_local, dtype: float64,
 6515    1
 Name: id_tipo_acceso_local, dtype: int64,
 6515    1
 Name: id_tipo_acceso_local, dtype: int64)

In [61]:
#Query por 'id_local'
resultado = df_terrazas.query("id_local == 20000756")
resultado.id_local,resultado.coordenada_y_local,resultado.id_tipo_acceso_local,resultado.id_tipo_acceso_local

(5471    20000756
 Name: id_local, dtype: int64,
 5471    4472755.5
 Name: coordenada_y_local, dtype: float64,
 5471    1
 Name: id_tipo_acceso_local, dtype: int64,
 5471    1
 Name: id_tipo_acceso_local, dtype: int64)

**Como se puede comprobar hay campos que tienen los datos repetidos en ambos archivos por lo que la información descrita en los PDFs es veraz**
Lo que plantearé será dejar el dataframe "locales" como el archivo maestro y luego eliminaré de los demás archivos las dimensiones que posean datos repetidos, así solo quedarán los campos con información limpia y quedarán las futuras colecciones mejor estructuradas.

En el caso en que se quieran realizar consultas de union de tablas el ID **id_local** servirá con clave foranea en las demás tablas.

**Eliminacion de columnas con información duplicadas**

In [62]:
# 1. DataFrame de Locales (fuente principal)
# No hacemos cambios en df_locales

# 2. DataFrame de Actividades
# Mantener solo campos únicos de actividades
columnas_actividades = [
    'id_local',  # clave de unión
    'id_seccion', 'desc_seccion', 'id_division', 'desc_division',
    'id_epigrafe', 'desc_epigrafe'
]
df_actividad = df_actividad[columnas_actividades]

# 3. DataFrame de Licencias
# Mantener solo campos únicos de licencias (pero no aparecen en el índice proporcionado)
# Asumimos que deberían estar estas columnas basadas en los PDFs:
columnas_licencias = ['id_local','id_seccion', 'desc_seccion', 'id_division', 'desc_division', 'id_epigrafe', 'desc_epigrafe']

# Filtramos solo las columnas que existan realmente
df_licencias = df_licencias[columnas_licencias]

# 4. DataFrame de Terrazas
# Mantener solo campos únicos de terrazas
columnas_terrazas = [
    'id_terraza', 'id_local',  # claves
    'Superficie_ES', 'Superficie_RA', 'mesas_aux_es', 'mesas_aux_ra',
    'mesas_es', 'mesas_ra', 'sillas_es', 'sillas_ra', 'hora_ini_LJ_es',
    'hora_fin_LJ_es', 'hora_ini_LJ_ra', 'hora_fin_LJ_ra', 'hora_ini_VS_es',
    'hora_fin_VS_es', 'hora_ini_VS_ra', 'hora_fin_VS_ra',
    'desc_ubicacion_terraza', 'id_periodo_terraza', 'desc_periodo_terraza',
    'id_situacion_terraza', 'desc_situacion_terraza'
]
df_terrazas = df_terrazas[columnas_terrazas]

## 1.2 Limpieza y análisis de los DF

### 1.2.1 DF_LOCALES

In [63]:
df_locales.describe(include='all')

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,id_local_agrupado,rotulo,cod_postal,hora_apertura1,hora_apertura2,hora_cierre1,hora_cierre2,fx_carga,fx_datos_ini,fx_datos_fin
count,1.511620e+05,151162.000000,151162,151162.000000,151162,151162.000000,151162.000000,151162.000000,151162.000000,1.511620e+05,...,90445,151162,151162.000000,8796,812,6311,862,151162,151162,151162
unique,NaN,NaN,21,NaN,131,NaN,NaN,NaN,NaN,NaN,...,3467,80142,NaN,63,37,56,34,112,1,1
top,NaN,NaN,CENTRO,NaN,SAN ANDRES,NaN,NaN,NaN,NaN,NaN,...,01,SIN ACTIVIDAD,NaN,08:00,10:00,02:00,02:00,2023-12-08 07:01:00.937,2023-12-01,2023-12-01
freq,NaN,NaN,13440,NaN,4092,NaN,NaN,NaN,NaN,NaN,...,20570,39418,NaN,1977,435,3063,461,2434,151162,151162
mean,2.655094e+08,9.939661,NaN,997.419001,NaN,3.452925,10011.069158,71.408396,399836.581200,4.049711e+06,...,NaN,NaN,28025.110689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.016712e+07,5.625185,NaN,562.402277,NaN,1.862671,5626.998295,48.532575,129534.909558,1.311569e+06,...,NaN,NaN,14.277943,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+07,1.000000,NaN,101.000000,NaN,1.000000,1001.000000,1.000000,0.000000,0.000000e+00,...,NaN,NaN,28001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.704840e+08,5.000000,NaN,505.000000,NaN,2.000000,5085.000000,32.000000,439092.600000,4.470752e+06,...,NaN,NaN,28014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.800378e+08,10.000000,NaN,1004.000000,NaN,3.000000,10137.000000,65.000000,440758.600000,4.473638e+06,...,NaN,NaN,28025.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.850114e+08,15.000000,NaN,1501.000000,NaN,5.000000,15041.000000,104.000000,443691.620000,4.476700e+06,...,NaN,NaN,28037.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.000220e+08,21.000000,NaN,2105.000000,NaN,9.000000,21034.000000,222.000000,454736.530000,4.495496e+06,...,NaN,NaN,28055.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Revisión general del data frame
print(df_locales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151162 entries, 0 to 151161
Data columns (total 48 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   151162 non-null  int64
 1   id_distrito_local          151162 non-null  int64
 2   desc_distrito_local        151162 non-null  object
 3   id_barrio_local            151162 non-null  int64
 4   desc_barrio_local          151162 non-null  object
 5   cod_barrio_local           151162 non-null  int64
 6   id_seccion_censal_local    151162 non-null  int64
 7   desc_seccion_censal_local  151162 non-null  int64
 8   coordenada_x_local         151162 non-null  float64
 9   coordenada_y_local         151162 non-null  float64
 10  id_tipo_acceso_local       151162 non-null  int64
 11  desc_tipo_acceso_local     151162 non-null  object
 12  id_situacion_local         151162 non-null  int64
 13  desc_situacion_local       151162 non-null  object
 14  id_vial_edificio           151162 non-null  int64
 15  clase_vial_edificio        151162 non-null  object
 16  desc_vial_edificio         151162 non-null  object
 17  id_ndp_edificio            151162 non-null  int64
 18  id_clase_ndp_edificio      151162 non-null  int64
 19  nom_edificio               151162 non-null  object
 20  num_edificio               151162 non-null  int64
 21  cal_edificio               151162 non-null  object
 22  secuencial_local_PC        151162 non-null  int64
 23  id_vial_acceso             151162 non-null  int64
 24  clase_vial_acceso          151162 non-null  object
 25  desc_vial_acceso           151162 non-null  object
 26  id_ndp_acceso              151162 non-null  int64
 27  id_clase_ndp_acceso        151162 non-null  int64
 28  nom_acceso                 151162 non-null  object
 29  num_acceso                 151162 non-null  int64
 30  cal_acceso                 151162 non-null  object
 31  coordenada_x_agrupacion    14501 non-null   float64
 32  coordenada_y_agrupacion    14501 non-null   float64
 33  id_agrupacion              151162 non-null  int64
 34  nombre_agrupacion          151162 non-null  object
 35  id_tipo_agrup              151162 non-null  int64
 36  desc_tipo_agrup            151162 non-null  object
 37  id_planta_agrupado         149514 non-null  object
 38  id_local_agrupado          90445 non-null   object
 39  rotulo                     151162 non-null  object
 40  cod_postal                 151162 non-null  int64
 41  hora_apertura1             8796 non-null    object
 42  hora_apertura2             812 non-null     object
 43  hora_cierre1               6311 non-null    object
 44  hora_cierre2               862 non-null     object
 45  fx_carga                   151162 non-null  object
 46  fx_datos_ini               151162 non-null  object
 47  fx_datos_fin               151162 non-null  object
dtypes: float64(4), int64(20), object(24)
memory usage: 55.4+ MB
None

**Es recomendable trabajar con Object en vez de Strings así que todas las columnas tienen formatos alineados con su tipo de contenido o de dato**

In [65]:
print(df_locales.isnull().sum())

id_local                          0
id_distrito_local                 0
desc_distrito_local               0
id_barrio_local                   0
desc_barrio_local                 0
cod_barrio_local                  0
id_seccion_censal_local           0
desc_seccion_censal_local         0
coordenada_x_local                0
coordenada_y_local                0
id_tipo_acceso_local              0
desc_tipo_acceso_local            0
id_situacion_local                0
desc_situacion_local              0
id_vial_edificio                  0
clase_vial_edificio               0
desc_vial_edificio                0
id_ndp_edificio                   0
id_clase_ndp_edificio             0
nom_edificio                      0
num_edificio                      0
cal_edificio                      0
secuencial_local_PC               0
id_vial_acceso                    0
clase_vial_acceso                 0
desc_vial_acceso                  0
id_ndp_acceso                     0
id_clase_ndp_acceso               0
nom_acceso                        0
num_acceso                        0
cal_acceso                        0
coordenada_x_agrupacion      136661
coordenada_y_agrupacion      136661
id_agrupacion                     0
nombre_agrupacion                 0
id_tipo_agrup                     0
desc_tipo_agrup                   0
id_planta_agrupado             1648
id_local_agrupado             60717
rotulo                            0
cod_postal                        0
hora_apertura1               142366
hora_apertura2               150350
hora_cierre1                 144851
hora_cierre2                 150300
fx_carga                          0
fx_datos_ini                      0
fx_datos_fin                      0
dtype: int64

#  Informe: Justificación de Valores Nulos en el Dataset `locales.csv`

Este informe detalla las razones por las cuales la presencia de valores nulos en determinados campos del archivo `locales.csv` del Censo de Locales y Actividades del Ayuntamiento de Madrid es **esperable, coherente** y **estructuralmente justificada**.

La documentación técnica consultada incluye:
-  *Estructura_DS_FicheroCLA.pdf*
-  *Estructura_DS_FicheroCLA_LICENCIAS_cp.pdf*
-  *Estructura_DS_FicheroCLA_Terrazas_cp.pdf*

---

##  1. Campos de Agrupación

Los campos relacionados con agrupaciones de locales (como centros comerciales, mercados, etc.) **solo aplican** a locales con tipo de acceso **"Agrupado"** (`id_tipo_acceso_local = 0`).

| Campo | Nulos | Justificación |
|-------|-------|---------------|
| `coordenada_x_agrupacion`<br>`coordenada_y_agrupacion` | 136.661 | Solo se completan para locales agrupados. Los locales tipo "Puerta de Calle" o "Asociado" no deben tener estas coordenadas. |
| `id_planta_agrupado` | 1.648 | Aplica solo a locales dentro de agrupaciones. |
| `id_local_agrupado` | 60.717 | Solo se utiliza para identificar locales dentro de agrupaciones. |
| `id_agrupacion`, `nombre_agrupacion`, `id_tipo_agrup`, `desc_tipo_agrup` | 0 (sin nulos) | Estos campos están presentes siempre, pero para locales no agrupados su valor será `"SIN AGRUPACION"` o `-1`, lo cual es correcto. |

 **Conclusión**: La mayoría de locales no están agrupados, por lo que la ausencia de valores en estos campos es completamente normal y coherente con la estructura del censo.

---

##  2. Campos de Horarios

Los campos de apertura (`hora_apertura1`, `hora_apertura2`) están **condicionados por el tipo de actividad del local**.

| Campo | Nulos | Justificación |
|-------|-------|---------------|
| `hora_apertura1` | 142.366 | Muchos locales (oficinas, almacenes, despachos) no tienen obligación de registrar horarios. |
| `hora_apertura2` | 150.350 | No todos los locales operan en doble jornada o turno partido. |

 **Conclusión**: Estos campos dependen del tipo de uso del local y no son aplicables en todos los casos.

---

##  3. Campo `cal_acceso`

| Campo | Nulos | Justificación |
|-------|-------|---------------|
| `cal_acceso` | 0 | Aunque no hay nulos, el contenido puede estar vacío cuando el número de acceso no requiere calificador (letras como A, B, DUP, etc.). Es opcional según la dirección. |

 **Conclusión**: La omisión de este dato no implica un error, sino la ausencia de un calificador aplicable.

---

##  Recomendación General

Para cualquier análisis, se debe tener en cuenta que:
- Los **valores nulos responden a la lógica del tipo de local**, su acceso, su agrupación y si tiene o no usos especiales (como terrazas o licencias).
- **No deben imputarse ni eliminarse automáticamente**, sino gestionarse según el contexto semántico de cada variable.

---

In [66]:
#Comprobación de la calidad de los Nulos.
print(df_locales['id_tipo_acceso_local'].value_counts())

id_tipo_acceso_local
1     134010
0      14501
12      2651
Name: count, dtype: int64

In [67]:
agrupados = df_locales[df_locales['id_tipo_acceso_local'] == 0]
print(agrupados[['coordenada_x_agrupacion', 'id_planta_agrupado']].isnull().sum())

coordenada_x_agrupacion      0
id_planta_agrupado         989
dtype: int64

In [68]:
puerta_calle = df_locales[df_locales['id_tipo_acceso_local'] == 1]
print(puerta_calle[['coordenada_x_agrupacion', 'id_planta_agrupado']].isnull().sum())

coordenada_x_agrupacion    134010
id_planta_agrupado             12
dtype: int64

**Se va a poner un valor meramente orientativo para rellenar los campos que contienen valores Nulos, con el fin de que a futuro el consumidor obtenga los datos depurados y listos para el consumo**

In [69]:
# Coordenadas de agrupación (float)
df_locales['coordenada_x_agrupacion'] = df_locales['coordenada_x_agrupacion'].fillna(0.0)
df_locales['coordenada_y_agrupacion'] = df_locales['coordenada_y_agrupacion'].fillna(0.0)

# Plantas y números de local (int)
df_locales['id_planta_agrupado'] = df_locales['id_planta_agrupado'].fillna(-99)  # Código especial
df_locales['id_local_agrupado'] = df_locales['id_local_agrupado'].fillna(-99)

# Horarios (asumiendo formato "hh:mm:ss")
df_locales['hora_apertura1'] = df_locales['hora_apertura1'].fillna('00:00:00')
df_locales['hora_apertura2'] = df_locales['hora_apertura2'].fillna('00:00:00')

# Relleno de horarios de cierre (asumiendo formato string "HH:MM:SS")
df_locales['hora_cierre1'] = df_locales['hora_cierre1'].fillna('00:00:00')
df_locales['hora_cierre2'] = df_locales['hora_cierre2'].fillna('00:00:00')

In [70]:
#COMPROBACIÓN FINAL DE NULOS
print(df_locales.isnull().sum())

id_local                     0
id_distrito_local            0
desc_distrito_local          0
id_barrio_local              0
desc_barrio_local            0
cod_barrio_local             0
id_seccion_censal_local      0
desc_seccion_censal_local    0
coordenada_x_local           0
coordenada_y_local           0
id_tipo_acceso_local         0
desc_tipo_acceso_local       0
id_situacion_local           0
desc_situacion_local         0
id_vial_edificio             0
clase_vial_edificio          0
desc_vial_edificio           0
id_ndp_edificio              0
id_clase_ndp_edificio        0
nom_edificio                 0
num_edificio                 0
cal_edificio                 0
secuencial_local_PC          0
id_vial_acceso               0
clase_vial_acceso            0
desc_vial_acceso             0
id_ndp_acceso                0
id_clase_ndp_acceso          0
nom_acceso                   0
num_acceso                   0
cal_acceso                   0
coordenada_x_agrupacion      0
coordenada_y_agrupacion      0
id_agrupacion                0
nombre_agrupacion            0
id_tipo_agrup                0
desc_tipo_agrup              0
id_planta_agrupado           0
id_local_agrupado            0
rotulo                       0
cod_postal                   0
hora_apertura1               0
hora_apertura2               0
hora_cierre1                 0
hora_cierre2                 0
fx_carga                     0
fx_datos_ini                 0
fx_datos_fin                 0
dtype: int64

# 1.2.2 DF_Actividad

In [71]:
df_actividad.describe(include='all')

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
count,1.695590e+05,169559,169559,169559,169559,169559,169559
unique,NaN,22,22,83,83,439,439
top,NaN,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",-1,VALOR NULO EN ORIGEN
freq,NaN,51516,51516,44670,44670,39292,39292
mean,2.632886e+08,NaN,NaN,NaN,NaN,NaN,NaN
std,5.323945e+07,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+07,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.704429e+08,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.800304e+08,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.850085e+08,NaN,NaN,NaN,NaN,NaN,NaN
max,3.000220e+08,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
print(df_actividad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_local       169559 non-null  int64
 1   id_seccion     169559 non-null  object
 2   desc_seccion   169559 non-null  object
 3   id_division    169559 non-null  object
 4   desc_division  169559 non-null  object
 5   id_epigrafe    169559 non-null  object
 6   desc_epigrafe  169559 non-null  object
dtypes: int64(1), object(6)
memory usage: 9.1+ MB
None

In [73]:
print(df_actividad.isnull().sum())

id_local         0
id_seccion       0
desc_seccion     0
id_division      0
desc_division    0
id_epigrafe      0
desc_epigrafe    0
dtype: int64

**Cada columna tiene su valor y su tipo de dato alineado con un buen trato del dato.**

## 1.2.3 DF_licencias

In [76]:
df_licencias.head()

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270574777,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
1,270574779,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
2,270574786,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
3,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472206,"comercio al por menor de aves, huevos y caza s..."
4,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472401,comercio al por menor de pan y productos de pa...

In [77]:
df_licencias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_local       169559 non-null  int64
 1   id_seccion     169559 non-null  object
 2   desc_seccion   169559 non-null  object
 3   id_division    169559 non-null  object
 4   desc_division  169559 non-null  object
 5   id_epigrafe    169559 non-null  object
 6   desc_epigrafe  169559 non-null  object
dtypes: int64(1), object(6)
memory usage: 9.1+ MB

In [78]:
df_licencias.isnull().sum()

id_local         0
id_seccion       0
desc_seccion     0
id_division      0
desc_division    0
id_epigrafe      0
desc_epigrafe    0
dtype: int64

## 1.2.4 DF_TERRAZAS

In [79]:
df_terrazas.head()

,id_terraza,id_local,superficie_es,superficie_ra,mesas_aux_es,mesas_aux_ra,mesas_es,mesas_ra,sillas_es,sillas_ra,...,hora_fin_lj_ra,hora_ini_vs_es,hora_fin_vs_es,hora_ini_vs_ra,hora_fin_vs_ra,desc_ubicacion_terraza,id_periodo_terraza,desc_periodo_terraza,id_situacion_terraza,desc_situacion_terraza
0,33,270403150,21.06,16.20,0,0.0,9,9.0,27,27.0,...,00:00:00,10:00:00,02:30:00,10:00:00,00:00:00,acera,1,anual,1,abierta
1,1168,80000291,89.04,89.04,0,0.0,22,22.0,70,70.0,...,00:00:00,09:00:00,02:30:00,09:00:00,00:00:00,superficie en parcela privada,1,anual,1,abierta
2,42,40002970,14.89,14.89,0,0.0,4,0.0,16,0.0,...,00:00:00,08:00:00,01:30:00,08:00:00,00:00:00,acera,1,anual,1,abierta
3,1176,40002488,27.00,27.00,0,0.0,18,18.0,36,36.0,...,00:00:00,10:00:00,00:00:00,10:00:00,00:00:00,bulevar,1,anual,1,abierta
4,56,170000773,12.96,NaN,0,0.0,4,0.0,16,0.0,...,NaN,08:00:00,01:30:00,NaN,NaN,acera,2,estacional,1,abierta

In [80]:
df_terrazas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6788 entries, 0 to 6787
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_terraza              6788 non-null   int64
 1   id_local                6788 non-null   int64
 2   superficie_es           6788 non-null   float64
 3   superficie_ra           5610 non-null   float64
 4   mesas_aux_es            6788 non-null   int64
 5   mesas_aux_ra            6549 non-null   float64
 6   mesas_es                6788 non-null   int64
 7   mesas_ra                6549 non-null   float64
 8   sillas_es               6788 non-null   int64
 9   sillas_ra               6549 non-null   float64
 10  hora_ini_lj_es          6788 non-null   object
 11  hora_fin_lj_es          6788 non-null   object
 12  hora_ini_lj_ra          5610 non-null   object
 13  hora_fin_lj_ra          5610 non-null   object
 14  hora_ini_vs_es          6788 non-null   object
 15  hora_fin_vs_es          6788 non-null   object
 16  hora_ini_vs_ra          5610 non-null   object
 17  hora_fin_vs_ra          5610 non-null   object
 18  desc_ubicacion_terraza  6788 non-null   object
 19  id_periodo_terraza      6788 non-null   int64
 20  desc_periodo_terraza    6788 non-null   object
 21  id_situacion_terraza    6788 non-null   int64
 22  desc_situacion_terraza  6788 non-null   object
dtypes: float64(5), int64(7), object(11)
memory usage: 1.2+ MB

In [81]:
df_terrazas.isnull().sum()

id_terraza                   0
id_local                     0
superficie_es                0
superficie_ra             1178
mesas_aux_es                 0
mesas_aux_ra               239
mesas_es                     0
mesas_ra                   239
sillas_es                    0
sillas_ra                  239
hora_ini_lj_es               0
hora_fin_lj_es               0
hora_ini_lj_ra            1178
hora_fin_lj_ra            1178
hora_ini_vs_es               0
hora_fin_vs_es               0
hora_ini_vs_ra            1178
hora_fin_vs_ra            1178
desc_ubicacion_terraza       0
id_periodo_terraza           0
desc_periodo_terraza         0
id_situacion_terraza         0
desc_situacion_terraza       0
dtype: int64

In [82]:
# Diccionario con valores por defecto para las columnas que tienen NaN
fill_dict = {
    'superficie_ra': 0.0,      # Rellenamos la superficie en el resto del año con 0.0
    'mesas_aux_ra': 0,         # Si no se especifica mesas auxiliares en RA, asumimos 0
    'mesas_ra': 0.0,           # Rellenamos con 0.0 mesas en RA
    'sillas_ra': 0.0,          # Rellenamos con 0.0 sillas en RA
    'hora_ini_lj_ra': "00:00:00",  # Valor por defecto en formato de hora para el inicio en RA en días L-J
    'hora_fin_lj_ra': "00:00:00",  # Valor por defecto para el fin en RA en días L-J
    'hora_ini_vs_ra': "00:00:00",  # Valor por defecto para el inicio en RA en VS
    'hora_fin_vs_ra': "00:00:00"   # Valor por defecto para el fin en RA en VS
}

# Aplicar fillna con los valores indicados
df_terrazas.fillna(value=fill_dict, inplace=True)

In [83]:
# Verificamos que ya no queden valores nulos en esas columnas:
print(df_terrazas[['superficie_ra', 'mesas_aux_ra', 'mesas_ra', 'sillas_ra',
                    'hora_ini_lj_ra', 'hora_fin_lj_ra', 'hora_ini_vs_ra', 'hora_fin_vs_ra']].isnull().sum())

superficie_ra     0
mesas_aux_ra      0
mesas_ra          0
sillas_ra         0
hora_ini_lj_ra    0
hora_fin_lj_ra    0
hora_ini_vs_ra    0
hora_fin_vs_ra    0
dtype: int64

## 1.3 Depuración Final
En este punto se van a tomar los data frames  y se van a eliminar los espacios en blancos en los campos object para que todo el texto quede ordenador. Y los espacios intermedios se van a sustituir por '_'.

In [84]:
def limpiar_df(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    df = df.map(lambda x: x.strip().lower() if isinstance(x, str) else x)
    #df = df.drop_duplicates() -- Si a futuro hiciera falta.
    return df

df_locales = limpiar_df(df_locales)
df_actividad = limpiar_df(df_actividad)
df_licencias = limpiar_df(df_licencias)
df_terrazas = limpiar_df(df_terrazas)

In [85]:
df_terrazas.head()

,id_terraza,id_local,superficie_es,superficie_ra,mesas_aux_es,mesas_aux_ra,mesas_es,mesas_ra,sillas_es,sillas_ra,...,hora_fin_lj_ra,hora_ini_vs_es,hora_fin_vs_es,hora_ini_vs_ra,hora_fin_vs_ra,desc_ubicacion_terraza,id_periodo_terraza,desc_periodo_terraza,id_situacion_terraza,desc_situacion_terraza
0,33,270403150,21.06,16.20,0,0.0,9,9.0,27,27.0,...,00:00:00,10:00:00,02:30:00,10:00:00,00:00:00,acera,1,anual,1,abierta
1,1168,80000291,89.04,89.04,0,0.0,22,22.0,70,70.0,...,00:00:00,09:00:00,02:30:00,09:00:00,00:00:00,superficie en parcela privada,1,anual,1,abierta
2,42,40002970,14.89,14.89,0,0.0,4,0.0,16,0.0,...,00:00:00,08:00:00,01:30:00,08:00:00,00:00:00,acera,1,anual,1,abierta
3,1176,40002488,27.00,27.00,0,0.0,18,18.0,36,36.0,...,00:00:00,10:00:00,00:00:00,10:00:00,00:00:00,bulevar,1,anual,1,abierta
4,56,170000773,12.96,0.00,0,0.0,4,0.0,16,0.0,...,00:00:00,08:00:00,01:30:00,00:00:00,00:00:00,acera,2,estacional,1,abierta

In [86]:
df_licencias.head()

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270574777,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
1,270574779,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
2,270574786,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
3,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472206,"comercio al por menor de aves, huevos y caza s..."
4,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472401,comercio al por menor de pan y productos de pa...

In [87]:
df_actividad.head()

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270574777,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
1,270574779,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
2,270574786,p,educación,85,educación,855002,"enseñanza no reglada (deportiva y recreativa, ..."
3,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472206,"comercio al por menor de aves, huevos y caza s..."
4,270574793,g,comercio al por mayor y al por menor; reparaci...,47,"comercio al por menor, excepto de vehículos de...",472401,comercio al por menor de pan y productos de pa...

In [88]:
df_locales.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,id_local_agrupado,rotulo,cod_postal,hora_apertura1,hora_apertura2,hora_cierre1,hora_cierre2,fx_carga,fx_datos_ini,fx_datos_fin
0,20000596,2,arganzuela,203,chopera,3,2043,43,440788.6,4471857.5,...,d1,la caña,28045,09:00,00:00:00,00:00:00,22:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
1,20000605,2,arganzuela,201,imperial,1,2107,107,439316.6,4472540.5,...,01,cafeteria piramides,28005,00:00:00,00:00:00,00:00:00,00:00:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
2,20000669,2,arganzuela,202,acacias,2,2096,96,439770.6,4472407.5,...,m1,bar melilla,28005,00:00:00,00:00:00,00:00:00,00:00:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
3,20000709,2,arganzuela,202,acacias,2,2029,29,440355.6,4472282.5,...,iz,supermercados simply,28005,00:00:00,00:00:00,00:00:00,00:00:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
4,20000721,2,arganzuela,201,imperial,1,2089,89,439312.6,4472870.5,...,c,arroceria imperial,28005,00:00:00,00:00:00,00:00:00,00:00:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01

# 2.INGESTA DE DATOS A MONGODB